body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #e6f7f2;
}

h1 {
    text-align: center;
    margin: 3% 0 1%;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

td {
    flex-wrap: nowrap;
    padding: 20px;
    text-align: left;
}

th {
    padding: 20px;
    text-align: left;
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #F0F0F0;
}

.button {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 0% 3%;
    background-color: #eeeeee;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень кнопки */
}

.button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); /* Увеличение тени при наведении */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.button:active {
    background-color: #3e8e41; /* Еще более темный зеленый при нажатии */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); /* Увеличение и затемнение тени */
    transform: scale(0.95); /* Небольшое сжатие при нажатии */
}

.home-button-container {
    display: flex;
    justify-content: center;
    top: 10px;
}


.home-button {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 0% 3%;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень кнопки */
    padding: 0.5% 1%;
    }


.new_filename {
    margin-left: 30px;
    width: 40%;
    box-sizing: border-box;

    &:focus {
        color: #333;
        &::placeholder {
            color: transparent;
        }
    }
}

