<!DOCTYPE html>
<html>
<head>
    <title>OAuth configs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='oauth/user_config.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>OAuth saved configs</h1>
<table>
    <tr>
        <th>Filename</th>
        <th>Modified Date</th>
        <th>Size</th>
        <th></th>
    </tr>
    {% for file in file_data %}
    <tr>
        <td>{{ file['filename'] }}</td>
        <td>{{ file['modified_date'] }}</td>
        <td>{{ file['size'] }}</td>
        <td>
            <button class="button download_button" id="download_button" data-filename="{{ file['filename'] }}">Download</button>
            <input type="text" class="new_filename" placeholder="Enter new filename">
            <button class="button rename_button" data-original-filename="{{ file['filename'] }}">Rename</button>
            <button class="button delete_button" data-filename="{{ file['filename'] }}">Delete</button>
        </td>
    </tr>
    {% endfor %}
</table>

<h1>OAuth current config</h1>

<table>
    <tr>
        <th>Filename</th>
        <th>Modified Date</th>
        <th>Size</th>
        <th></th>
    </tr>
    {% for file in current_oauth_config_file_data %}
    <tr>
        <td>{{ file['current_oauth_config_filename'] }}</td>
        <td>{{ file['current_oauth_config_modified_date'] }}</td>
        <td>{{ file['current_oauth_config_size'] }}</td>
        <td>
            <button class="button download_button" id="current_config_download_button" data-filename="{{ file['current_oauth_config_filename'] }}">Download</button>
        </td>
    </tr>
    {% endfor %}
</table>


<div class="home-button-container">
    <button class="button home-button" id="home_button" type="button">OAuth home page</button>
</div>
<script src="{{ url_for('static', filename='oauth/user_config.js') }}"></script>
</body>
</html>
