<!DOCTYPE html>
<html>
<head>
    <title>OAuth configs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='oauth/user_config.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>OAuth configs</h1>
<table>
    <tr>
        <th>Filename</th>
        <th>Modified Date</th>
        <th>Size</th>
        <th></th>
    </tr>
    {% for file in file_data %}
    <tr>
        <td>{{ file['filename'] }}</td>
        <td>{{ file['modified_date'] }}</td>
        <td>{{ file['size'] }}</td>
        <td>
            <button class="button" data-filename="{{ file['filename'] }}">Download</button>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="home-button-container">
    <button class="button home-button" id="home_button" type="button">OAuth home page</button>
</div>
<script src="{{ url_for('static', filename='oauth/user_config.js') }}"></script>
</body>
</html>
